/* styles/globals.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .container {
    padding: 20px;
  }
  
  .flashcard {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  /* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
